body:not(.post-type-acf-field-group) .acf-field p.description {
	display:none;
}

.dashicons.dashicons-editor-help.tooltip {
	color: #454545;
	width: 18px;
	height: 18px;
	font-size: 20px;
	cursor: pointer!important;
}

.qtip-acf {
	background-color: #353535;
	border-color: #000000!important;
	color: #f3f3f3;
	border-radius: 3px;
	font-size: 12px !important;
	line-height: 1.3em !important;
}
