//SVG ANIMATIONS

.three-svgs{
  max-height: 150px;
  margin-bottom: 5rem;
}//end 3 svgs

.fe-logo {
  //min-height: 283.61px;
  max-width:500px;
  width: 100%;
}

.moc-logo {
  min-height: 283.61px;
  max-width:500px;
  width: 100%;
  
  @include breakpoint (medium only){
      min-height: 189.06px;
  }//end medium only
  
   @include breakpoint (small only){
      min-height: 154.69px;
  }//end small only
  
  
	.st0{fill:#B97EBB;}
	.st1{fill:#FFFFFF;}
	.st2{fill:#3F3F3F;}
	.st3{fill:#9F59A5;}
	.st4{fill:#9F1F96;}
  
  &.play-animation{
    
    #fe-logo{
      transform-origin: center;
      animation: rotate-in 3s ease-in-out 1;
    }
    #bottom-banner{
      transform-origin: left;
      animation: slide-right 3s ease-in-out 1;
    }//end bottom banner
    
    #moc-year{
      animation: fade-in-one 3s ease-in-out 1;
    }//end moc date,city, hotel
    
    #moc-date, #moc-city, #moc-hotel{
      animation: fade-in-two 3s ease-in-out 1;
    }//end moc date,city, hotel
    
    #moc-text{
      animation: slide-down 3s ease-in-out 1;
    }//end moc-text
    
    #banner{
      transform-origin: left;
      animation: scale-right-one 3s ease-in-out 1;
    }//end banner
    
    #banner-edge, #banner-shadow {
      transform-origin: left;
      animation: scale-right-two 3s ease-in-out 1;
    }//end banner-edge and banner shadow
    
  }//end hover
}//end moc logo

.moc-bulb{
    max-height: 200px;
    width: 100%;
    margin-bottom: $spacing--sm;
    
    @include breakpoint (large only){
        max-height: 175px;
    }//end large breakpoint
    
    @include breakpoint (medium only){
        margin-bottom: $spacing--xs;
        max-height: 150px;
    }//end medium breakpoint
    
    @include breakpoint (small only){
        max-height: 150px;
    }//end small breakpoint
    
    .st0{fill:#A80297;}
    .st1{fill:#EABBEA;}
    .st2{fill:#EECEEF;}
  
    
    #bulb{
        animation: float 4.5s ease-in-out infinite;
    }//end bulb
}//end moc bulb

.moc-heart{
    max-height: 200px;
    width: 100%;
    margin-bottom: $spacing--sm;
    
    @include breakpoint (large only){
        max-height: 175px;
    }//end large breakpoint
    
    @include breakpoint (medium only){
        margin-bottom: $spacing--xs;
        max-height: 150px;
    }//end medium breakpoint
    
    @include breakpoint (small only){
        max-height: 150px;
    }//end small breakpoint
  
    .st0{fill:#EABBEA;}
    .st1{fill:#A80297;}
  
    #heart{
        transform-origin: center center;
        animation: pulse 4.5s ease-in-out infinite;
    }//end heart
}//end moc heart

.moc-network{
    max-height: 200px;
    width: 100%;
    margin-bottom: $spacing--sm;
    
    @include breakpoint (large only){
        max-height: 175px;
    }//end large breakpoint
    
    @include breakpoint (medium only){
        margin-bottom: $spacing--xs;
        max-height: 150px;
    }//end medium breakpoint
    
    @include breakpoint (small only){
        max-height: 150px;
    }//end small breakpoint
  
    .st0{fill:#EABBEA;}
    .st1{fill:#A80297;}
    .st2{fill:#FFFFFF;}
  
    #person-bottom{
        .st2{
            animation: slide 5.5s ease-in-out infinite
        }//end st2
    }//end person bottom
}//end moc network

.moc-award{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right:0;
    margin: auto;
    max-width: 75px;
    height: auto;
    margin:auto;
    opacity: 1.0;
    @include transition(opacity .2s ease-in-out);
    
    @include breakpoint (small only){
        max-height: 150px;
    }//end small breakpoint
  
    .st0{fill:#77C579;}
    .st1{fill:#408942;}
    .st2{fill:#FFFFFF;}

    &.play-animation{
        opacity: 1;
        @include transition(opacity .2s ease-in-out);
        
        #right-ribbon{
            animation: slide-down-right 1.5s ease-in-out 1;
        }//end right banner

        #left-ribbon{
            animation: slide-down-left 1s ease-in-out 1;
        }//end left banner

        #star{
            transform-origin: center;
            animation: rotate-in-star 1s ease-in-out 1;
        }//end star
    }//end play animation
}//end moc award

//ANIMATIONS

@keyframes slide-right {
  0% {transform: translateX(-1000px); opacity: 0;}
  20% {transform: translateX(-1000px); opacity: 0;}
  50% {transform: translateX(0px); opacity: 1;}
  100% {transform: translateX(0px); opacity: 1;}
}//end slide-right keyframes

@keyframes slide-down {
  0% {transform: translateY(-20px); opacity: 0;}
  30% {transform: translateY(-20px); opacity: 0;}
  50% {transform: translateY(0px); opacity: 1;}
  100% {transform: translateY(0px); opacity: 1;}
}//end slide down keyframes

@keyframes fade-in-one {
    0% {opacity: 0;}
    25% {opacity: 0;}
    45% {opacity: 1;}
  100% {opacity: 1;}
}//end fade in keyframes

@keyframes fade-in-two {
    0% {opacity: 0;}
    45% {opacity: 0;}
    70% {opacity: 1;}
  100% {opacity: 1;}
}//end fade in keyframes

@keyframes scale-right-one {
  0% {transform: scaleX(0);}
  20% {transform: scaleX(0); opacity: 0;}
  30% {transform: scaleX(1); opacity: 1;}
  100% {transform: scaleX(1);}
}//end slide-right-one keyframes

@keyframes scale-right-two {
  0% {transform: scaleX(0);}
  30% {transform: scaleX(0);}
  40% {transform: scaleX(1);}
  100% {transform: scaleX(1);}
}//end slide-right keyframes

@keyframes rotate-in {
  0% {transform: rotate(-360deg); opacity: 0;}
  15% {opacity: 0;}
  20% {transform: rotate(0deg); opacity: 1;}
  100% {transform: rotate(0deg); opacity: 1;}
}//end slide-right keyframes

@keyframes float {
  0% {transform: translateY(-4px);}
  25% {transform: translateY(5px);}
  50% {transform: translateY(-5px);}
  75% {transform: translateY(2px);}
  100% {transform: translateY(-4px);}
}//end slide-right keyframes

@keyframes pulse {
  0% {transform: scale(1);}
  25% {transform: scale(1.1);}
  50% {transform: scale(.95);}
  75% {transform: scale(1.05);}
  100% {transform: scale(1);}
}//end slide-right keyframes

@keyframes slide {
  0% {transform: translateX(0px);}
  50% {transform: translateX(70px);}
  100% {transform: translateX(0px);}
}//end slide-right keyframes

@keyframes slide-down-right {
  0% {transform: translate(-30px, -100px);}
  100% {transform: translate(0px);}
}//end slide-down-right keyframes

@keyframes slide-down-left {
  0% {transform: translate(30px, -100px);}
  100% {transform: translate(0px);}
}//end slide-down-left keyframes

@keyframes rotate-in-star {
  0% {transform: rotate(-45deg); opacity: 0;}
  100% {transform: rotate(0deg); opacity: 1;}
}//end rotate-in-star keyframes