 #wrap {
     position: relative;
 overflow: visible;
 }//end #wrap 
 
body.menu-open #wrap {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
}//end body menu open

.container {
    &.half {
        float: left;
        width: 50%;
            @include breakpoint(small only) {}///end small change 
    }///end container.half
    
    &.third {
        float: left;
        width: 33.333%;
            @include breakpoint(small only) {}///end small change 
    }//end container.third
}///end container 

.grey-background{
    background-color: $color-secondary;
}//end grey-backround

.reveal-overlay{
    #ce_video{
        width:80%;
        max-width: 1000px;
        top: 100px;
        padding: 10px;
        border: none;
        margin: auto;
        background-color: transparent;
        
        .flex-video{
            margin-bottom: 0;
        }
        
        .close-button{
            padding: $spacing--xs;
            padding-top: $spacing--xs/3;
            color: $color-default-inverse;
            font-size: 3.333rem;
        }//end close button
    }//end ce video
}//end reveal overlay

.inner{
    max-width: $container;
}//end inner

#location{
    display:none;
}//end section location

footer{
    &.footer{
        padding: $spacing--lg 0;
        background: $color-default-inverse;
        
        @include breakpoint (medium only){
            padding: $spacing--sm 0
        }//end medium breakpoint
        
        @include breakpoint (small only){
            padding: $spacing--sm 0
        }//end small breakpoint
        .inner{
            padding: 0px $spacing--xl*2;
            
            @include breakpoint (large only){
               padding: 0 $spacing--md;
            }//end large breakpoint
            
            @include breakpoint (medium only){
               padding: 0 $spacing--sm;
            }//end medium breakpoint
            
            @include breakpoint (small only){
               padding: 0 $spacing--xs;
            }//end small breakpoint
            
            
            .footer-branding{
                padding: 0;
                
                #logo{
                    margin: auto;
                    max-width: 200px;
                    
                    @include breakpoint (medium only){
                        max-width: 175px;
                    }//end medium breakpoint
                }//end logo
                #footer-addons{
                    p{
                        text-align: left;
                        margin-top: $spacing--sm;
                        
                        @include breakpoint (medium only){
                            margin-top: 0;
                            font-size: $fontsize-mobile-regular;
                         }//end medium breakpoint
                    }//end p
                }//end footer addons
            }//end footer branding
        }//end inner
        
        .frn_footer{
            display: none;
        }//end frn footer
    }//end footer class
}//end footer

.error404{
    background: $color-secondary;
    
    #content.inner{
        padding: $spacing--xl;
        
        @include breakpoint (small only){
            padding: $spacing--xs;
        }//end small only breakpoint
        
        main{
            padding: 0;
        }//end main
        .entry-content{
            padding: 0;
            
            .callout{
                border: none;
                border-radius: $border-radius;
                box-shadow: 0px 2px 5px rgba(0,0,0,.25);
                padding: $spacing--md;
                
                @include breakpoint (small only){
                    padding: $spacing--sm;
                }//end small only breakpoint
                
                h1{
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 2px;
                    margin-bottom: $spacing--sm;
                }//end h1
                
                p{
                    font-family: $font-main;
                    font-size: $fontsize-h2;
                    font-weight: $font-semibold;
                    color: $color-primary;
                    text-align: center;
                    margin-bottom: $spacing--sm;
                    
                    @include breakpoint (small only){
                        font-size: $fontsize-medium;
                    }//end small only breakpoint
                }//end p
                
                .button{
                    background: $gradient-primary;
                    display:block;
                    margin:auto;
                    text-align: center;
                    max-width: 250px;
                    width: 100%;
                    border-radius: $border-radius-pill;
                    font-size: $fontsize-medium;
                    font-family: $font-main;
                    font-weight: $font-semibold;
                    box-shadow: 0 2px 10px rgba(0,0,0,.25);
                    @include transition (all .2s ease-in-out);

                    &:hover{
                        transform: scale(1.05);
                        @include transition (all .2s ease-in-out);

                    }//end hover
                }//end button
            }//end callout
        }//end entry content
    }//end content inner
}