@include breakpoint(small only){
#content{
    .module.deck{
        &.deck--basic.three-up{
                    .inner.expanded{
                        .module__header h1{
                        }//end h1 

                        .row{
                            .card--basic{

                                &:first-of-type{
                                    margin-right: 0;
                                    margin-left:0;
                                    background: $gradient-primary;
                                    border-radius: $border-radius;
                                    padding: $spacing--sm 0;
                                    box-shadow: 0 2px 10px rgba(0,0,0,.25);
                                    z-index: 1;

                                    .card__holder--basic{
                                        box-shadow: none;
                                        padding-top: 0;
                                        padding-bottom:0;
                                        max-height: none;
                                        border-radius: none;
                                        margin-top: 0;
                                        background-color: transparent;

                                        .card__header--basic{
                                            color: $color-default-inverse;
                                        }//end card header basic

                                        .card__secondary--basic{
                                            margin-bottom: $spacing--sm;

                                            h3{
                                                color: $color-default-inverse;
                                            }//end h3

                                            h4{
                                                color: $color-default-inverse;
                                            }//end h4

                                            p{
                                                color: $color-default-inverse;

                                                strong{
                                                    text-transform: uppercase;

                                                }//end strong
                                            }//end p
                                        }//end card secondary basic

                                        .button--basic{
                                            background: $color-default-inverse;
                                            color: $color-primary;
                                        }//end button basic
                                    }//end card holder--basic
                                }//end first of type

                                &:not(:first-of-type):not(:last-of-type){
                                    background: $color-default-inverse;

                                    .card__holder--basic{
                                        box-shadow: none;
                                        padding-top: 0;
                                        padding-bottom:0;
                                        max-height: none;
                                        border-radius: none;
                                        margin-top: 0;
                                        background-color: transparent;

                                        .card__header--basic{
                                            color:$rr-blue;
                                        }//end card header basic

                                        .card__secondary--basic{

                                            h3{
                                                color: $color-default;
                                            }//end h3

                                            h4{
                                                color: $color-default;
                                            }//end h4

                                            p{
                                                color: $color-default;

                                                strong{
                                                    text-transform: uppercase;
                                                }//end strong
                                            }//end p
                                        }//end card secondary basic

                                        .button--basic{
                                            background: $gradient-primary;
                                            color: $color-default-inverse;
                                        }//end button basic
                                    }//end card holder--basic
                                }//end not first or last of type

                                .card__holder--basic{
                                    background-color: $color-default-inverse;
                                    position: relative;
                                    padding: $spacing--sm $spacing--xl;
                                    box-shadow: 0 2px 10px rgba(0,0,0,.25);
                                    max-height: 500px;
                                    border-radius: $border-radius;
                                    margin-top: $spacing--xl;

                                    @include breakpoint (small only){
                                        margin-top: 0;
                                        padding: $spacing--sm;
                                    }//end small only

                                    .card__header--basic{
                                        text-align: center;
                                        text-transform: uppercase;
                                        color: $color-primary;
                                        letter-spacing: 2px;

                                        @include breakpoint (small only){
                                            font-size: $fontsize-mobile-h1;
                                        }//end small breakpoint
                                    }//end card header basic

                                    .card__secondary--basic{
                                        margin-bottom: $spacing--sm;

                                        h3{
                                            text-align: center;
                                            font-size: 4.667rem;
                                            font-family: $font-main;
                                            font-weight: $font-light;

                                            @include breakpoint (small only){
                                                font-size: 3.3333rem;
                                            }//end small breakpoint

                                            &:before{
                                                content:'$';
                                                vertical-align: super;
                                                font-size: 28px;
                                            }//end h3 before
                                        }//end h3

                                        h4{
                                            text-align: center;
                                            font-size: $fontsize-h1;
                                            margin: $spacing--xs 0;

                                            @include breakpoint (small only){
                                                font-size: $fontsize-h2;
                                            }//end small breakpoint
                                        }//end h4
                                        p{
                                            margin-bottom: 0;
                                            font-size: $fontsize-medium;
                                            text-align: center;

                                            @include breakpoint (small only){
                                                font-size: $fontsize-mobile-regular;
                                                line-height: 2rem;
                                            }//end small breakpoint
                                        }//end p
                                    }//end card secondary basic

                                    .button--basic{
                                        background: $gradient-primary;
                                        display:block;
                                        margin:auto;
                                        text-align: center;
                                        max-width: 200px;
                                        width: 100%;
                                        border-radius: $border-radius-pill;
                                        font-size: $fontsize-medium;
                                        font-family: $font-main;
                                        font-weight: $font-semibold;
                                        box-shadow: 0 2px 10px rgba(0,0,0,.25);
                                        @include transition (all .2s ease-in-out);

                                        &:hover{
                                            transform: scale(1.05);
                                            @include transition (all .2s ease-in-out);

                                        }//end hover
                                    }//end button basic
                                }//end card holder--basic
                            }//end card--basic
                        }//end row
                    }//end inner expanded
        }//end deck basic
    }//end deck module
}//end content
}//end small breakpoint