/**----- 01 TYPOGRAPHY // 1.1 Global Typography Settings-----**/
html {
    /**font-size: 16px ; this font size determines the baseline for all padding,margin, font sized units using ems or rems throughout the entire theme*/
	font-size: $fontsize-regular;
	
}// end html

body {
	font-family: $font-body;
	color: $color-default;
        font-weight: $font-regular;
        line-height:2.4rem;
}//end body

/**----- 01 TYPOGRAPHY // 1.2 Headings -----**/

h1, h2, h3, h4, h5, h6 {
	font-family: $font-main;
	text-align: left;
}// end universal heading styles

h1 {
    font-size: $fontsize-h1;
    font-weight: $font-light;
    color: $color-default;
}// end h1

h2 {
    font-size: $fontsize-h2;
    font-weight: $font-semibold;
    color: $color-default;
}// end h2

h3 {
    font-family: $font-body;
    font-size: $fontsize-h3;
    font-weight: $font-bold;
    color: $color-default;
}// end h3

ul, ol {
    line-height:2.4rem;
    font-size: $fontsize-medium;
}//end ul and ol

p{
    font-size: $fontsize-medium;
    line-height:2.4rem;
    
    @include breakpoint (small only){
        font-size: 1.0667rem;
        line-height: 2.133rem;
    }//end small breakpoint
}//end p

a{
    color: $color-primary;
    @include transition (all .2s ease-in-out);
}//end a



